@font-face {
  font-family: "PF DIN";
  src: url("../../assets/pfdintextcomppro-light.woff2") format("woff2"),
       url("../../assets/pfdintextcomppro-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PF DIN";
  src: url("../../assets/pfdintextcomppro-regular.woff2") format("woff2"),
       url("../../assets/pfdintextcomppro-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

$font-primary: "PF DIN", "Helvetica Neue", Arial, sans-serif;