@font-face {
  font-family: "PF DIN";
  src: url("../../assets/pfdintextcomppro-light.woff2") format("woff2"),
       url("../../assets/pfdintextcomppro-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PF DIN";
  src: url("../../assets/pfdintextcomppro-regular.woff2") format("woff2"),
       url("../../assets/pfdintextcomppro-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


// For hidden text
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
