// Add styles here...
body {
  // font-family: "PF DIN", "Helvetica Neue", Arial, sans-serif;
  font-family: "Helvetica", Arial, sans-serif;
  box-sizing: border-box;
  background: #E9E8EF url("../img/bg_page.jpg") no-repeat center center/cover;
  width: 100%;
  min-height: 100vh;

  @media (min-width: 768px) {
    background: #BAA09E url("../img/bg_page_big.jpg") no-repeat top right/cover;
  }

  &.article-is-opened {
    background: #F3F2DA;
  }
}

.container {
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  
  @media (min-width: 768px) {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.main-content {
  padding-top: 40px;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    padding: 0;
  }
}