// Add styles here...
body {
  // font-family: "PF DIN", "Helvetica Neue", Arial, sans-serif;
  font-family: "Helvetica", Arial, sans-serif;
  box-sizing: border-box;
  background: #E9E8EF url("../img/bg_page.jpg") no-repeat center center/cover;
  width: 100vw;
  height: 100vh;

  @media (min-width: 768px) {
    background: #BAA09E url("../img/bg_page_big.jpg") no-repeat top right/cover;
  }
}

.container {
  padding: 40px 20px 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1220px;
  
  @media (min-width: 768px) {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}